name: Recipe Manager CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Build and Test
    runs-on: macos-latest

    defaults:
      run:
        working-directory: .
        
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 'latest-stable'
          
      - name: Install xcbeautify
        run: brew install xcbeautify
    
      - name: Make script executable
        run: chmod +x ./Tests/run_tests.sh

      - name: Run Validation Script
        run: ./Tests/run_tests.sh
